body {
    margin: 0;
    height: 100vh;
    background-color: #626061;
    display: flex;
    flex-direction: column;
    min-width: 590px;
    min-height: 475px;
}

main {
    background-color: #626061;
}

.table-title {
    display: flex;
    justify-content: center;
}

.table-title h3 {
    margin-top: 30px;
    color: #A00841;
    background-color: #2D262A;
    padding: 20px;
    border-radius: 10px;
}

.data-table-div {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 0 auto;
    max-height: 75vh;
    overflow-y: scroll;
}

#data-table {
    margin: 20px;
}

#data-table tr {
    height: 40px;
}

.data-entry-div {
    background-color: #2D262A;
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

#log-in-title {
    color: #A00841;
    text-align: center;
    padding-top: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

#input-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

#input-group-1 input {
    height: 35px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#input-group-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#input-group-2 label {
    color: white;
}

#submit-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#submit-button button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}