main {
    display: flex;
    align-items: center;
}

.messages-title h1 {
    background-color: #2D262A;
    color: #A00841;
    padding: 10px;
    border-radius: 10px;
}

.message-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #2D262A;
    height: 60%;
    width: 75%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.message {
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.username {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 5px;
}

.own-message {
    width: 10%;
    display: flex;
    color: white;
    margin-right: 5px;
}

.message-text {
    width: 100%;
    height: 100%;
}

.message-text span {
    background-color: #A00841;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
}

.message-box {
    display: flex;
    flex-direction: row;
    background-color: #2D262A;
    width: 75%;
    min-height: 30px;
    min-width: 400px;
    padding: 10px;
    padding-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#message-input {
    flex: 0 100 auto;
    flex-grow: 100;
}

#message-input textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    line-height: 15px;
    background-color: #1b181a;
    color: white;
    border: none;
    overflow: auto;
}

#send-button {
    flex: 0 0 auto;
    height: 100%;
}

#send-button button {
    height: 100%;
    border: 0px;
    background-color: #444;
    color: white;
    cursor: pointer;
}