main {
    align-items: center !important;
    justify-content: center;
}

.create-user-box {
    background-color: #2D262A;
    flex: 10px 100px 200px;
    width: 300px;
    height: 350px;
    border-radius: 20px;
}

.create-user-box h2 {
    text-align: center;
    color: #EA3871;
}

.create-user-box form {
    text-align: center;
}

.create-user-inputs-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-user-button {
    background-color: #A00841;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 10px auto;
    transition: all 0.2s ease, transform 0.15s ease;
}

.create-user-button:hover {
    background-color: #800021;
    color: #E7E7E7;
}

.logout-button {
    background-color: #A00841;
    color: white;
    padding: 15px 26px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 104px auto;
    transition: all 0.2s ease, transform 0.15s ease;
}

.logout-button:hover {
    background-color: #800021;
    color: #E7E7E7;
}

.create-user-titles {
    color: #EA3871;
    width: 110px;
    text-align: right;
    padding-left: 0;
    padding-bottom: 0;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.create-user-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.create-user-inputs {
    margin-bottom: 0;
    flex: 1;
    background-color: #444;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.message-form {
    text-align: center;
    color: #EA3871;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.message-form button {
    background-color: #A00841;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: block;
    transition: all 0.2s ease, transform 0.15s ease;
}

.message-form button:hover {
    background-color: #800021;
    color: #E7E7E7;
}